/*makes anchor link scrolling prettier*/
html {
    scroll-behavior: smooth;
}

/*Forces width and margin of body - this could come back to bite me if Im not using 
blank side panels, probably should be a class*/
body {
    width:auto;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5%px;
}

h2 {
    margin: 0
}

/*https://www.w3schools.com/css/css_navbar.asp, 
https://www.w3schools.com/css/css_navbar_horizontal.asp
Navbar css
*/
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    border-radius: 8px;
}

/*Float left keeps navbar content to the left of the navbar container*/
.nav .navli {
  float: left;
}


/*Handles spacing between <li> elements*/
li {
    margin:5px;
    padding:5px
}

/*Footer positioning - stuck to bottom*/
.sticky-footer {
      position: fixed;                                                                                                                                                                                                       
      left: 15%;                                                                                                                                                                                                             
      bottom: 0;                                                                                                                                                                                                             
      background-color: gray;
      width: 70%;                                                                                                                                                                                                            
      text-align: center;
}



/* grid was simpler here, generally I think I'd use a flexbox*/
.center-content {
    display: grid;
    place-items: center;
    height: 100vh;
}

/*Box Model Gallery Positioning*/
.row-1 {
    border: 5px solid black;
    margin: 5px;
    padding: 5px;
}

.row-2 {
    border: 10px dashed black;
    margin:10px;
    padding: 10px;
}

.row-3 {
    border: 15px dotted black;
    margin: 15px;
    padding: 15px;
}

.col-1 {
    display: inline-block;
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
}

.col-2 {
    display: inline-block;
    border:5px dotted black;
    margin: 5px;
    padding: 5px;
}

.col-3 {
    display: inline-block;
    border: 10px dashed black;
    margin: 10px;
    padding: 10px;
}

/*font classes */

.roboto {
    font: 'Roboto';
}

.open-sans {
    font-family: 'open-sans';
}

.playfair {
    font-family: 'Playfair Display';
}

.lato {
    font-family: 'lato';
}

.merriweather {
    font-family: 'Merriweather';
}

.poppins {
    font-family: 'poppins';
}
